.jumbotron {
  padding-top: 6rem;
  background-color: #a3ece0;
}

#projects {
  background-color: #a3ece0;
}

#catch {
  background-color: #a3ece0;
}

section {
  padding-top: 5rem;
}

.bawah {
  padding-bottom: 5rem;
}

#navbarNav > ul > li > a:hover {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.active:hover {
  color: #000000 !important;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.sosmed {
  text-decoration: none;
  color: #000000;
}

.sosmed:hover {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.card {
  overflow: hidden;
}

.card img {
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.card img:hover {
  transform: scale(1.1);
}

.certificate-box {
  background: #fff;
  border-radius: 15px;
  padding: 25px 15px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  transition: 0.3s;
  height: 100%;
}

.certificate-box:hover {
  transform: translateY(-10px);
  background: #0acbaa;
  color: #fff;
}

.cert-icon {
  font-size: 40px;
  color: #0acbaa;
  margin-bottom: 10px;
}

.certificate-box:hover .cert-icon {
  color: #fff;
}

.certificate-box h6 {
  font-weight: 600;
  font-size: 14px;
}

